*{

box-sizing: border-box;
margin: 0px;
padding: 0px;

}
.menu{
    
    background-image: url("img/antique-cafe-bg-01.jpg");
    width: 100%;
    height: 100vh;
    background-size: 100%;
    padding-top: 250px;
}

.opcoes{

    background-color: rgba(0, 0, 0, 0.658);
    position: relative;
    bottom: 250px;
    z-index: 1;
    height: 45px;
}

.opcoes ul li{
    
    padding-top: 10px;
    display: inline-block;
    padding-right: 4px;
    text-decoration: none;
    position: relative;
    left: 80%;
    font-size: 25px;
    padding-left: 30px;
   
    
}

.opcoes ul li a{
    text-decoration: none;
    color: #D2691E;
    text-align: center;
}

.opcoes ul li:hover{
   background-color: #96460d;
}

.principal {
    background-color: rgba(0, 0, 0, 0.658);
    height: 250px;
    width: 600px;
    position: relative;
    left: 45rem;
  
}
.principal h1{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-size: 50px;
    position: relative;
    top: 40px;
}

.principal p{
color: #D2691E;
text-align: center;
font-size: 35px;
padding-top: 25px;
position: relative;
top: 50px;

}

.principal2 {
    background-color: rgba(0, 0, 0, 0.658);
    height: 150px;
    width: 600px;
    position: relative;
    left: 45rem;
    top: 100px;
    
}

.principal2 p{
  
 
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;

    }

    .tela2{
    
        background-image: url("img/antique-cafe-bg-02.jpg");
        width: 100%;
        height: 100vh;
        background-size: 100%;
        padding-top: 250px;
    }

    .cardapio {
        background-color: rgb(255, 255, 255);
        height: 100px;
        width: 400px;
        position: relative;
        bottom: 190px;
        left: 50rem;
        padding-bottom: 70px;
      
    }

    .cardapio h3{
        text-align: center;
        color: rgb(139, 72, 72);
        padding-top: 40px;
        font-size: 32px;
        position: relative;
        bottom: 10px;
        
     
    }

    .listacafe{

        position: relative;
        top: 40px;
    }

    .cafes{

        background-color: #96460d;
        height: 780px;
        width: 550px;
        border-radius: 10%;
        position: relative;
        left: 300px;
        bottom: 180px;
    }

    .cafes img{

    border-radius: 12%;
    size: 60px;
    position: relative;
    left: 28px;
    top: 8px;
    width: 150px;
    }

    .cafes h2{

        position: relative;
        bottom: 100px;
        left: 250px;
        font-size: 30px;
    }

    .cafes p{

        position: relative;
        bottom: 100px;
        left: 250px;
        font-size: 25px;
    }


    .cafes2{
    background-color: #96460d;
        height: 780px;
        width: 550px;
        border-radius: 10%;
        position: relative;
        left: 1000px;
        bottom: 950px;
    }

    .listacafe2{

        position: relative;
        top: 40px;
        
    }

    .listacafe2 img{

        border-radius: 12%;
        size: 60px;
        position: relative;
        left: 28px;
        top: 8px;
        width: 150px;
        }
    
        .listacafe2 h2{
    
            position: relative;
            bottom: 100px;
            left: 250px;
            font-size: 30px;
        }
    
        .listacafe2 p{
    
            position: relative;
            bottom: 100px;
            left: 250px;
            font-size: 25px;
        }

        .tela3{
    
            background-image: url("img/graos.jpg");
            width: 100%;
            height: 100vh;
            background-size: 100%;
            padding-top: 250px;
        }

    
    .tela3 img{

        width: 800px;
        border-radius: 10%;
        position: relative;
        left: 60px;
    }

    .sobrecafe {
        background-color: rgba(0, 0, 0, 0.658);
        height: 100px;
        width: 600px;
        position: relative;
        left: 70rem;
        bottom: 700px;
        border-radius: 10%;
        
      
    }

    .sobrecafe h1{
        text-align: center;
        color: white;
        padding-top: 30px;
        font-size: 50px;
        position: relative;
        bottom: 15px;
    }

    
    .sobrecafe2 {
       
       
        background-color: rgba(0, 0, 0, 0.658);
        height: 400px;
        width: 850px;
        position: relative;
        left: 65rem;
        bottom: 580px;
        border-radius: 10%;
        
      
    }

    .sobrecafe2 p{

    text-align: center;
        position: absolute;
        top: 50px;
       font-size: 30px;
      color:#D2691E; 
      opacity: 0.8;
      left: 10px;
    }

 